@import "reset.css";

.hidden {
  display: none;
}

body {
  position: relative;
  overflow: hidden;
}

#bgImage {
  position: absolute;
}

#clock {
  position: absolute;
  top: 20%;
  color: #fff;
  font-size: 120px;
  width: 100%;
  text-align: center;
}

#login-form {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}

#login-form input:first-child {
  border: none;
  padding: 5px 0px;
  font-size: 18px;
  width: 200px;
  background: transparent;
  border-bottom: 1px solid #fff;
}

#login-form input::placeholder {
  color: #fff;
}

#login-form input:focus {
  outline: none;
  color: #fff;
}

#greeting {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #fff;
}

#todo-form {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
}

#todo-form input {
  border: none;
  padding: 5px 0px;
  font-size: 18px;
  width: 200px;
  background: transparent;
  border-bottom: 1px solid #fff;
}

#todo-form input::placeholder {
  color: #fff;
}

#todo-form input:focus {
  outline: none;
  color: #fff;
}

#todo-list {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

#todo-list li {
  color: #fff;
}

#quote {
  position: absolute;
  left: 1%;
  top: 3%;
  color: #fff;
}
